<!DOCTYPE html>
<html>

<head>
    <title>KL BANKING SERVICES</title>
    <link rel="stylesheet" type="text/css" href="homepage.component.css">
    <link href="https://fonts.googleapis.com/css?family=Rubik&display=swap" rel="stylesheet">
</head>

<body>
    <header>
        <div class="body">
            <section class="navsection">
                <div class="logo">
                    <h1>Welcome to KL Bank</h1>
                </div>
                <nav>
                    <a href="/loan">Loan Calculator</a>
                    <a href="/chatbot">Chatbot</a>
                </nav>
                <nav>
                    <a href='/contact-us'>Contact Us</a>
                    <a href='/login'>Logout</a>
                </nav>
            </section>
            <main>
                <div class="leftside">
                    <h3> Created By</h3>
                    <h2> SNEHITA</h2>
                    <h2> ANINDITA</h2>
                    <h2> STUTHI</h2>
                    <a href="/check-out" class="btn1" onclick="log1()">Check Out Form</a>
                    <a href="/check-balance" class="btn2" onclick="log1()">Check Balance</a>
                    <a href="/curreny-calculator" class="btn3" onclick="log1()">Transaction Slip Generator</a>
                    <a href="/create_acc" class="btn1" onclick="log1()">Create an Account</a>

                </div>

            </main>
        </div>
    </header>
</body>

</html>