<mat-toolbar class="navbar navbar-dark bg-dark" >
  <a class="navbar-brand" color='warn'> KL BANK </a>

  <div class="spacer"> </div>

  <a mat-button class="navbar-brand" routerLink="location"> <i class="material-icons">place</i> Locate Us </a>
  <a mat-button class="navbar-brand" routerLink="customer_care"> <i class="material-icons">call</i>  Customer Care </a>
  <a mat-button class="navbar-brand" routerLink="services" > <i class="material-icons">assignment_ind</i>  Services </a>
  <a mat-button class="navbar-brand" routerLink="login"> <i class="material-icons">launch</i> Login </a>
  
  
</mat-toolbar>